@font-face {
 font-family: "Jannon 10 Pro";
 src: url("/font/JannonFonts/Jannon10Pro.otf") format("opentype"),
        url("/font/JannonFonts/Jannon10Pro-Bold.ttf") format("truetype"),
        url("/font/JannonFonts/Jannon10Pro-Italic.otf") format("opentype"),
        url("/font/JannonFonts/JannonOrnaments.ttf") format("truetype");
}

h2,
h3,
h4,
h6 {
  font-size: 18pt;
  font-weight: bold;
  font-family: 'Jannon 10 Pro';
  text-transform: uppercase;
}
h5, h1{
  font-size: 18pt;
  font-weight: bold;
  font-family: 'Jannon 10 Pro';
}
h4 {
  text-align: left;
  font-size: 21pt;
}

#titre{
  font-family: 'Jannon 10 Pro';
  font-weight: lighter;
  font-size: 3rem;
}

hr.star-light,
hr.star-dark {

}

hr.star-light:after,
hr.star-dark:after {
  position: relative;
  top: -.8em;
  display: inline-block;
  padding: 0 0.25em;
  content: '\f02e';
  font-family: FontAwesome;
  font-size: 2em;
}

hr.star-light {
  border-color: #e9ecef;
}

hr.star-light:after {
  color: #e9ecef;
  background-color: #6DADB3;
}

hr.star-dark {
  border-color: #2C3E50;
}

hr.star-dark:after {
  color: #2C3E50;
  background-color: white;
}

section {
  padding: 6rem 0;
}

section h2 {
  font-size: 2.25rem;
  line-height: 2rem;
}


#mainNav {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 300;
  font-family: 'Jannon 10 Pro';
  font-size: 16pt;
}

#mainNav .navbar-brand {
  color: #e9ecef;
  font-weight: 400;
  font-size: 1.3rem;
  font-weight: 500;
}

#mainNav .navbar-nav {
  margin-top: 1rem;
  letter-spacing: normal;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
  color: #e9ecef;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #6DADB3;
}

#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
  color: #e9ecef;
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
  color: #6DADB3;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.8rem;
  background-color: #e9ecef;
  color: #2c3e50;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
  }
  #mainNav .navbar-brand {
    font-size: 1.5em;
    color: #e9ecef;
    -webkit-transition: font-size 0.3s;
    -moz-transition: font-size 0.3s;
    transition: font-size 0.3s;
  }
  #mainNav .navbar-nav {
    margin-top: 0;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    color: #e9ecef;
    background: #6DADB3;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    color: #e9ecef;
    background: #6DADB3;
  }
  #mainNav.navbar-shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.5em;

  }
}

header.masthead {
  padding-top: calc(6rem + 72px);
  padding-bottom: 6rem;
}

.portfolio {
  margin-bottom: -15px;
  font-family: 'Jannon 10 Pro'
}

.portfolio .portfolio-item {
  position: relative;
  display: block;
  max-width: 25rem;
  margin-bottom: 15px;
}

.portfolio .portfolio-item .portfolio-item-caption {
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background-color: rgba(109, 173, 179, 0.8);
}

.portfolio .portfolio-item .portfolio-item-caption:hover {
  opacity: 1;
}

.portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
  font-size: 1.5rem;
}

@media (min-width: 576px) {
  .portfolio {
    margin-bottom: -30px;
    font-family: 'Jannon 10 Pro';
  }
  .portfolio .portfolio-item {
    margin-bottom: 30px;
  }
}
/*
pour le contact form
.floating-label-form-group {
  position: relative;
  border-bottom: 1px solid #e9ecef;
  font-family: 'Jannon 10 Pro';
}

.floating-label-form-group input,
.floating-label-form-group textarea {
  font-size: 1.5em;
  position: relative;
  z-index: 1;
  padding-right: 0;
  padding-left: 0;
  resize: none;
  border: none;
  border-radius: 0;
  background: none;
  box-shadow: none !important;
}


.floating-label-form-group:not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #e9ecef;
}

.floating-label-form-group-with-focus label {
  color: #6DADB3;
}

form .row:first-child .floating-label-form-group {
  border-top: 1px solid #e9ecef;
  font-family: 'Jannon 10 Pro';
}
*/

.footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #2C3E50;
  color: #e9ecef;
  font-family: 'Jannon 10 Pro';
}

.copyright {
  background-color: #292f36;
  color: #e9ecef;
  font-family: 'Jannon 10 Pro';
}

a {
  color: #875787;
  font-size: 16pt;
  /* violet */
}

a:focus, a:hover, a:active {
  color: #6d326d;
  /*bordeau*/
}

.btn-lg {
  border: none;
  font-family: 'Jannon 10 Pro';
}

.btn-primary, .btn-primary:default {
  background-color: #2C3E50;
  border-color: #2C3E50 ;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
  background-color: #6dadb3;
  border-color: #6dadb3 ;
}

.dropdown-header{
  font-weight: lighter;
  padding-left: 10px;
  font-size: 14pt;
  color: #e9ecef;
}

a.dropdown-item{
  color: #e9ecef;
}
a.dropdown-item:hover{
  color: #6DADB3;
  background-color: inherit;
}

.scroll-to-top a {
  /*fleche pour remonter*/
  background-color: rgba(109, 173, 179, 0.7);
  line-height: 3.1rem;
}

/*turquoise*/
.bg-primary {
  background-color: #6DADB3 !important;
  font-family: 'Jannon 10 Pro';
}
/*marine*/
.bg-secondary {
  background-color: #2C3E50 !important;
}

/*marine*/
.text-primary {
  color: #2c3e50 !important;
}

/*blanc cassé*/
.text-secondary {
  color: #e9ecef !important;
}


.card-header{
  border-style: none;
  margin-right: 1em;
  margin-left: 1em;
}

.card-text {
  text-align: center;
}

.card-body {
  text-align: center;
  border-style: none;
}

p {
  text-align: left;
  font-family: 'Jannon 10 Pro';
  font-size: 16pt;
}

li {
  font-family: 'Jannon 10 Pro';
  font-size: 14pt;

}
.logo {
  max-width: 150px;
  max-height: 100px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 10px;
}

.navlogo{
  max-width: 180px;
  padding-bottom: 13px;
}

.mainlogo {
  max-width: 50%;
}

.livre {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.09);
}

.espace{
  margin-top:20px;
  margin-bottom:40px;
}
.pdg-gauche{
  margin-left: -15px;
  padding-top: 15px;
}

masthead > h1.text-secondary {
  font-variant: small-caps;
}

#boutonLire {
  margin-bottom: 1rem;
}

#boutonLire :visited {
  background-color: #2C3E50: 
}
