<!-- Footer -->
<footer class="footer text-secondary">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <a href="/index.html#page-top" class="mb-5"><h4><img src="/img/logo_ateliersSP_blanc.png" class="navlogo"></h4></a>
        <p class="lead mb-0">Fabrique numérique d'édition savante<br/>Accès libre et impression à la demande</p>
      </div>
      <div class="col-md-4">
        <h4 class="mb-3">Contact</h4>
        <a href="mailto:ateliers@sens-public.org"class="text-secondary"><i class="fa fa-envelope"></i> ateliers@sens-public.org<a>
      </div>
      <div class="col-md-4 mb-5 mb-lg-0">
        <h4 class="mb-3">L'archipel</h4>
        <p class="lead mb-0"><a class="text-secondary" href="http://www.sens-public.org">La revue Sens public</a></p>
        <p class="lead mb-0"><a class="text-secondary" href="http://blog.sens-public.org/">Les blogs Sens public</a></p>
      </div>
    </div>
  </div>
</footer>

<div class="copyright py-4 text-center text-secondary">
  <div class="container">
    <small><a href="https://creativecommons.org/licenses/by-sa/4.0/" alt="CC-BY-SA"><img src="https://mirrors.creativecommons.org/presskit/buttons/88x31/png/by-sa.png" height="25px"/></a> Les ateliers de [sens public] - 2018</small>
  </div>
</div>
