<!-- Navigation -->
<nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="/index.html#page-top"><img src="/img/logo_ateliersSP_blanc.png" alt="Les ateliers de [Sens Public]" class="navlogo"></a>
    <button class="navbar-toggler navbar-toggler-right text-uppercase rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/index.html#publications">Publications</a>
    <!--
    option dropdown
          <div class="dropdown">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" data-toggle="dropdown" >Publications</a>
            <div class="dropdown-menu bg-secondary">
                  <a class="dropdown-item" href="/facebook/index.html">Facebook</a>
                  <a class="dropdown-item" href="/l-espace-numerique/index.html">L'espace numérique</a>
                  <a class="dropdown-item" href="/exigeons-de-meilleures-bibliotheques/index.html">Exigeons de meilleures bibliothèques</a>
          -->
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/index.html#apropos">À propos</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/index.html#partenaires">Partenaires</a>
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/index.html#equipe">L'équipe</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<header>
  <br>
</header>
