section.contenuadd p {
    width: 100%;
}

.contenuadd {
    max-width: 50rem;
    background: no-repeat var(--contenuadd-background) 99% .5rem url("../svg/additional.svg");
    border-left: 5px solid var(--contenuadd-border-color);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 1em;
}


.contenuadd .contenuadd {
    background: none;
    background-color: var(--contenuadd-background);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 3px solid lightgrey;
    margin-bottom: 1em;
    padding-top: 0;
}

.contenuadd figure {
    margin: 1.5rem;
    max-width: 100%;
}
.contenuadd figure img {
    border: 1px solid var(--contenuadd-border-color);
    padding: 1px;
}
.contenuadd figcaption {
    font-style: italic;
}

.contenuadd h3 {
    font-size: 1.4em;
    font-style:normal;
}

.contenuadd.dossier > div.info {
    display:none;
}
.contenuadd p {
    font-size: large;
}

.contenuadd p.source {
    font-size: 1em;
    color: var(--header-background-color);
}

.contenuadd.highpriority > * {
    margin: 1.5rem;
}
.contenuadd.highpriority.image {
    background-image: url("../svg/image.svg");
}
.contenuadd.highpriority.video {
    background-image: url("../svg/video.svg");
}
.contenuadd.highpriority.audio {
    background-image: url("../svg/audio.svg");
}
.contenuadd.highpriority.article {
    background-image: url("../svg/article.svg");
}
.contenuadd.highpriority.lien {
    background-image: url("../svg/lien.svg");
}
.contenuadd.highpriority.pdf {
    background-image: url("../svg/pdf.svg");
}

.contenuadd.lowpriority {
    background: no-repeat var(--contenuadd-background) 99% .5rem url("../svg/expand.svg");
    padding: 0;
}
.contenuadd.lowpriority.expanded {
    background-image: url("../svg/minimize.svg");
    cursor: inherit;
}
.contenuadd.lowpriority h3 {
    padding: 1.5rem 2.5rem 0 1.5rem;
    cursor: pointer;
    margin: 0;
}
.contenuadd.lowpriority > *:not(h3) {
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: visibility 0s, opacity 0.5s linear, height 1s linear;
    padding: 0;
}
.contenuadd.lowpriority.expanded h3 {
    padding-bottom: 1.5rem;
}
.contenuadd.lowpriority.expanded > *:not(h3) {
    display: block;
    visibility: visible;
    height: inherit;
    opacity: 1;
}

.contenuadd.lowpriority.expanded iframe {
    padding: 1rem;
    margin: 0 3rem;
    width: 40vw;
    height: 50vh;
}
.contenuadd.lowpriority.expanded .description {
    background: white;
    padding: 1rem;
    margin: 0 .5rem 0;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.contenuadd.lowpriority.expanded .credits {
    text-align: right;
    font-style: italic;
}
.contenuadd.lowpriority.expanded .source {
    text-align: center;
}
.contenuadd.lowpriority.expanded .source a.button {
    font-size: 1.2rem;
    background: no-repeat var(--contenuadd-border-color) 80% 40%/20% url("../svg/source.svg");
    color: var(--contenuadd-background);
    padding: .75rem 4rem .75rem 1.5rem;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-shadow: none;
}
.contenuadd.lowpriority.expanded .info {
    margin: 0 .5rem;
}
.contenuadd.lowpriority.expanded .info p {
    text-align: right;
    font-style: italic;
    font-size: .9rem;
    color: #666666;
    margin: 0;
}
