/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    width: inherit;
    padding: 0;
    margin: 0;
    max-width: inherit;
}

article {
    margin-left: 24rem;
    max-width: 1400px;
    padding: 3rem 0rem;
}

article ul {
    max-width: 50%;
}

body,
.numeral,
.sidenote-number:after,
.sidenote:before {
    font-family: janon;
}
