header.main {
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid var(--header-border-color);
    background: var(--header-background-color);
    color: var(--header-color);
    width: 100%;
    z-index: 2;
    margin: 0;
    padding: .8rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header.main a.logo-sens-public {
    background: no-repeat left center/100% url("../svg/logo_ateliersSP-short_chemin.svg");
    display: block;
    width: 10rem;
    height: 3rem;
    margin: 0 0 0 5%;
}

header.main .title {
    text-align: center;
}
header.main h1,
header.main h2 {
    margin: 0;
    font-size: 1.6rem;
}
header.main h1 {
    margin-bottom: .8rem;
    font-size: 2rem;
}

header.main nav ul {
    list-style-type: none;
}
header.main h2 a,
header.main nav ul li a {
    background: none;
    text-shadow: none;
    text-decoration: underline;
}

header.main h2 a {
    padding: .25rem 3rem .2rem .8rem;
    background: 99% center no-repeat url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='35' height='35' viewBox='0 0 24 24' fill='none' stroke='%23e9ecef' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><path d='M6 9l6 6 6-6'/></svg>");
    text-decoration: none;
    border: 1px solid var(--header-border-color);
    font-style: normal;
}
header.main nav[aria-role="main"] {
    display: none;
}
header.main nav[aria-role="main"].opened {
    display: block;
    position: fixed;
    width: 40rem;
    top: 5.7rem;
    left: calc(50% - 17.5rem);
    background: var(--header-background-color);
    border: 1px solid var(--header-border-color);
}
header.main nav[aria-role="main"] ul {
    margin: 1.5rem;
    padding: 0;
}
header.main nav[aria-role="main"] ul li.selected::before {
    content: '☞ ';
}
header.main nav[aria-role="main"] ul li:not(.selected)::before {
    content: '     ';
}

header.main nav[aria-role="prev-next"] ul {
    display: flex;
    line-height: 1;
    margin: .5rem 3rem .5rem 1rem;
    padding: 0;
}
header.main nav[aria-role="prev-next"] li {
    margin: .25rem .4rem;
}

/* Make sure the title is not hidden by the fixed header. */
h1.title {
    margin-top: 5rem;
}
