@font-face {
    font-family: 'jannon_ornaments';
    src: url('jannonornaments-webfont.woff2') format('woff2'),
         url('jannonornaments-webfont.woff') format('woff'),
         url('jannonornaments-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}