article h1::before,
article h2::before,
article h3::before {
    display: block;
    content: " ";
    height: 10rem;
    margin-top: -10rem;
    visibility: hidden;
}

.toc {
    position: fixed;
    top: 11rem;
    left: 2rem;
    max-width: 18rem;
}
.toc ol {
    font-size: 1rem;
}
.toc a {
    text-decoration: none;
    background: none;
}
.toc a:hover {
    text-decoration: underline;
}
.is-active-link::before {
    background-color: var(--toc-border-active-color);
}
