@font-face {
    font-family: 'jannon';
    src: url('Jannon10Pro.woff') format('woff'),
         url('jannon10Pro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'jannon';
    src: url('Jannon10Pro-Bold.woff') format('woff'),
         url('jannon10Pro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'jannon';
    src: url('Jannon10Pro-Italic.woff') format('woff'),
         url('Jannon10Pro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
